{%- macro table(_table) -%}
||{{ _table.header | join("||") }}||
{%- for row in _table.rows %}
|{{ row | join("|") }}|
{%- endfor %}
{%- endmacro %}

{%- macro gravestone(_table) -%}
{panel:borderColor=#999999|bgColor=#f5f5f5}
{{ "{profile: user = " + _table[0][1] + "}" if _table[0][1] else "*" + _table[0][0] + "*" }}
α {{ _table[0][2] }}
*ω {{ _table[0][3] }}*
{panel}
{%- endmacro %}

{%- macro card(_table) -%}
{panel:borderColor=#999999|bgColor=#f5f5f5}
h3. (*) {{ _table.header[0] }} (*)
{{ "{profile: user = " + _table[0][1] + "}" if _table[0][1] else "*" + _table[0][0] + "*" }}
with {{ _table[0][2] }} {{ _table[0][3] }}
{{- "\nfollowed by *" + _table[1][0] + "* with " + _table[1][2] | string if _table[1] else "" }}
{{- "\nand *" + _table[2][0] + "* with " + _table[2][2] | string if _table[2] else "" }}
{panel}
{%- endmacro %}

{section}
h2. Cumulated commits over time by author
{chart:type=area|width=1024|height=340|stacked=True|opacity=80|dataOrientation=vertical|categoryLabelPosition=down90}
{{ table(cumulated_commits_over_time_by_author) }}
{chart}
{section}
----
{section}
h2. Impacts over time
{chart:type=area|width=1024|height=340|stacked=True|opacity=80|dataOrientation=vertical|categoryLabelPosition=down90|colors=#18FF6D,#FF7780}
{{ table(impact_over_time) }}
{chart}
{section}
----
{section}
h2. Commits over time by authors
{chart:type=area|width=1024|height=340|opacity=40|dataOrientation=vertical|categoryLabelPosition=down90}
{{ table(commits_over_time_by_author) }}
{chart}
{section}
----
{section}
h2. Cemetery (it happens to the best of us: authors not active for over a year)
{%- for i in range(4) %}
{column}
{%- for j in range(0, cemetery | length, 4) -%}
{{ gravestone(cemetery[i+j]) if i + j < cemetery | length }}
{%- endfor %}
{column}
{%- endfor %}
{{ "all the authors are active" if cemetery | length == 0 else "" }}
{section}
----
{section}
h2. Commits and impact by author (no merges)
{column}
{%- set star = commits_and_impacts_by_author.fmt("(*) %s (*)", 0, 0) -%}
{%- set bold = commits_and_impacts_by_author.fmt("*%s*", -1) -%}
{{ table(commits_and_impacts_by_author) }}
{column}
{column}
{chart:type=pie|legend=False|dataOrientation=vertical|width=480|height=340|opacity=90}
{{ table(commits_by_author) }}
{chart}
{column}
{section}
----
{section}
h2. Thieves (commits on behalf of) (only active committers/authors)
{% if commits_on_behalf_of -%}
{%- set bold = commits_on_behalf_of.fmt("*%s*", col=0) -%}
{%- set bold = commits_on_behalf_of.fmt("*%s*", col=-1) -%}
{%- set bold = commits_on_behalf_of.fmt("*%s*", row=-1) -%}
{{ table(commits_on_behalf_of) }}
{% else %}
there are no thieves
{% endif %}
{section}
----
{section}
h2. Reviews (only active reviewers/authors)
{{ table(reviews) if reviews else "there are no statistics on reviews" }}
{section}
----
{section}
{column}
h2. Forgotten remote origin refs
{{ table(forgotten_refs) if forgotten_refs else "all the refs have been recently updated" }}
{column}
{column}
{chart:type=pie|legend=True|title=Remote origin refs by author|dataOrientation=vertical|width=480|height=400|opacity=90}
{{ table(total_refs_over_author) }}
{chart}
{column}
{section}
----
{section}
h2. Files by extension
{column}
{chart:type=pie|legend=False|dataOrientation=vertical|width=480|height=400|opacity=90}
{{ table(files_by_extension) }}
{chart}
{column}
{column}
{{ table(most_frequently_committed_filenames) }}
{column}
{section}
----
{section}
h2. Edited lines of code by author
(only groovy, java, javascript, kotlin, python, rust, typescript and vue source files)
{column}
{%- set bold = edited_lines_of_code_and_stability_by_author.fmt("*%s*", row=-1) -%}
{{ table(edited_lines_of_code_and_stability_by_author) }}
{column}
{column}
{chart:type=pie|legend=False|dataOrientation=vertical|width=480|height=480|opacity=90}
{{ table(edited_lines_of_code_by_author) }}
{chart}
{column}
{section}
----
{section}
h2. Most impactful commits
{{ table(most_impactful_commits) }}
{section}
----
{section}
h2. Other statistics
{%- for i in range(4) %}
{column}
{% for j in range(0, others | length, 4) -%}
{{ card(others[i+j]) if i + j < others | length }}
{% endfor -%}
{column}
{%- endfor %}
{section}
h6. generated by [gitstats|https://github.com/a-p-z/gitstats]
