{% macro table(_table) -%}
|{{ _table.header | join("|") }}|
{%- set separators = [] %}
{%- for header in _table.header %}
{{- separators.append( "---" ) or "" }}
{%- endfor %}
|{{ separators | join("|") }}|
{%- for row in _table.rows %}
|{{ row | join("|") }}|
{% endfor %}
{%- endmacro %}

## Cumulated commits over time by author
{{ cumulated_commits_over_time_by_author }}

---
## Impacts over time
{{ impact_over_time }}

---
## Commits over time by authors
{{ commits_over_time_by_author }}

---
## Cemetery (it happens to the best of us: authors not active for over a year)
{{ cemetery if cemetery else "all the authors are active" }}

---
## Commits and impact by author
{{ commits_and_impacts_by_author }}

{{ commits_by_author }}

---
## Thieves (commits on behalf of)
{{ commits_on_behalf_of if commits_on_behalf_of else "there are no thieves" }}

---
## Reviews (only active reviewers/authors)
{{ reviews if reviews else "there are no statistics on reviews" }}

---
## Forgotten remote origin refs
{{ forgotten_refs if forgotten_refs else "all the refs have been recently updated" }}

{{ total_refs_over_author }}

---
## Files by extension
{{ files_by_extension }}

{{ most_frequently_committed_filenames }}

---
## Edited lines of code by author
(only groovy, java, javascript, kotlin, python, rust, typescript and vue source files)
{{ edited_lines_of_code_and_stability_by_author }}

{{ edited_lines_of_code_by_author }}

---
## Most impactful commits
{{ most_impactful_commits }}

---
## Other statistics
{{ others }}
###### generated by [gitstats](https://github.com/a-p-z/gitstats)
